/* Layout1 */
.text {
  text-decoration: none;
  color: black;
}

.profile {
  width: 80px;
}

.title {
  font-size: 16px;
  font-family: "nanumsquare";
  text-align: center;
}

#special {
  text-align: center;
  color: black;
}

.box {
  text-align: center;
  background-color: cornflowerblue;
  max-width: 200px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  box-shadow: 5px 5px 3px lightgrey;
}
.container {
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container .header {
  width: 100%;
  height: 50px;
  background: aquamarine;
}

.container .left-menu {
  width: 80%;
  height: 400px;
  background: rgb(112, 145, 207);
  float: left;

  /* display: inline-block; */
}

.container .left-menu .user-profile {
  border: 1px solid black;
  display: flex;
}
.container .left-menu .user-post {
  border: 0.5px solid black;
}

.container .content {
  width: 20%;
  height: 400px;
  background: coral;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-sizing: border-box; */
  /* display: inline-block; */
}

.container .content .content-picture {
  width: 80%;
  height: 80%;
  box-sizing: border-box;
}
.container .footer {
  width: 100%;
  height: 100px;
  background: grey;
  clear: both;
}
.content {
  color: red;
}

.container .blog-content {
  width: 80%;
  height: 200px;
  background: #eee;
  float: left;
}

.container .blog-img {
  width: 20%;
  height: 200px;
  background: yellow;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .blog-img .blog-img-picture {
  width: 100%;
}

.blog-profile {
  width: 50px;
  float: left;
  margin-left: 5px;
}

.blog-name {
  float: left;
}
nav {
  height: 60px;
  background: #eee;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.navbar {
  /* display: inline-block; */
  /* float: left; */
  display: flex;
  align-items: center;
  height: 100%;
  /* justify-content: center; */
}

.navbar li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  width: 60px;
  /* text-align: center; */
  padding: 10px;
}

.navbar li a:hover {
  color: cadetblue;
}

/* Layout2 */

.main-background {
  width: 100%;
  height: 500px;
  background-image: url(../img/shoes.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
  position: relative;
  padding: 1px;
}

.main-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
}

.main-background .inner {
  position: relative;
  padding: 160px 0;
  flex-grow: 1;
  flex-basis: 0;
}
.main-background .inner .main-title {
  color: #fff;
  font-size: 40px;
  /* margin-top: 100px; */

  /* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 25px rgba(0, 0, 0, 0.75); */
}
